html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: arial, sans-serif;
}

.wrap {
	min-height: 100%;
  height: 100%;
	margin-bottom: 500px;
}

.wrap:after {
	content: "";
	display: block;
}

#navbar {
	float: right;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
}

#navbar ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
	float: left;
}

#navbar li a {
	display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
	font-size: 12px;
}

.nav-div {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#content {
	height: 100%;
}

.push {
	padding-bottom: 20px;
}

.content-container {
	width: 100%;
	float: right;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #f1f1f1;
}

.content {
	font-size: 30px;
	text-align: center;
}

.content-info-container {
	padding-bottom: 45px;
	width: 100%;
	float: right;
	background-color: #f1f1f1;
}

.info {
	padding-left: 5.5%;
	padding-right: 5.5%;
}

#about-push {
	visibility: hidden;
	padding-bottom: 20px;
}

#content-about-container {
	width: 100%;
	float: right;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #f1f1f1;
}

#about {
	font-size: 30px;
	text-align: center;
}

#content-info2-container {
	padding-bottom: 45px;
	width: 100%;
	float: right;
	background-color: #f1f1f1;
}

#info2 {
	text-align: center;
}

#contact-push {
	visibility: hiden;
	padding-bottom: 20px;
}

#content-contact-container {
	width: 100%;
	float: right;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #f1f1f1;
}

#contact {
	font-size: 30px;
	text-align: center;
}

#content-info3-container {
	padding-bottom: 45px;
	width: 100%;
	float: right;
	background-color: #f1f1f1;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#info3 {
	text-align: center;
}

.footer, .wrap:after {
	height: 50px;
}

.footer {
	padding-top: 5px;
	padding-left: 30px;
	clear: both;
	overflow: none;
	background-color: #e2e2e2;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer p {
	font-size: 15px;
}
